
[win]
title=looking-glas-client
size=3440x1440
maximize=yes
autoResize=yes
minimizeOnFocusLoss=no
allowResize=yes
borderless=yes

[spice]
enable=yes
host=127.0.0.1
port=5900

[egl]
vsync=no

[input]
grabKeyboardOnFocus=yes
