
[win]
title=looking-glas-client
autoResize=yes
borderless=yes

[input]
grabKeyboardOnFocus=yes
mouseSmoothing=yes

[app]
cursorPollInterval=2000
framePollInterval=1000
shmFile=/dev/shm/looking-glass

[opengl]
vsync=no
