[Unit]
Description = lgmemory

[Service]
Type=simple
Restart=no
RemainAfterExit=yes
User=root
WorkingDirectory= /home/cryoss/VM
ExecStart= /home/cryoss/VM/win10mem.sh

[Install]
WantedBy=multi-user.target
