[Desktop Entry]
Type=Application
Version=1.0
Name=Win10
Exec=/home/cryoss/VM/Win10.sh
Icon=geany
Terminal=true
Categories=System;
StartupNotify=true
Keywords[en]=Win10;
